.displayInline {
    display: inline-block;
}

.roundedBorder {
    border: solid 1px green;
    border-radius: 50%;
    color:green;
    padding: 0px 5px;
    font-size: x-small;
}

.banner{
    height: 40px;
    padding: 10px;
}

.textItalic{
    font-style: italic;
    font-weight: bold;
}

.form-label{
    font-size: larger;
    font-weight: 500;
}

.nav-link {
    width: 100% !important;
    height:100% !important;
    font-size: large !important;
    min-height: 8vh;
    font-weight: 500;
    color: #495057 !important;
}

.nav-item {
    width: 165px !important; 
}

.nav-link.active {
    color: #0d6efd !important;
}

.campSelect {
    font-size: 13px;
    height: 25px;
    padding: 0px 5px;
}

.textRed{
    color: red;
    font-size: 12px;
}